:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #e0e0e0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #ff00ff;
  text-decoration: inherit;
}
a:hover {
  color: #00ffff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(135deg, #1a1a1a, #1f1f1f);
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  color:#00ffff;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-shadow: 0 0 5px #01afaf, 0 0 10px #00ffffa8, 0 0 20px #00ffffa8;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

ul {
  padding-inline-start: 20px;
}

ol {
  list-style: none;
  padding: 0;
}

li::before {
  content: "▶";
  color: #00ffff;
  margin-right: 10px;
}